<div class='flow'>
  <div class='item'>
    <div class='up'>
      <div class='author-avatar'>
        <img src='http://g.hiphotos.baidu.com/zhidao/pic/item/32fa828ba61ea8d32bf49ad7960a304e241f580b.jpg'>
      </div>
      <div class='infor'>
        <div class='date'>
          9月25日，2014年
        </div>
        <div class='desc'>
          <a href='javascript: void(0);'>刘耒</a>
          <span class='action'>发表了文章</span>
        </div>
      </div>
      <div style='clear: both;'></div>
    </div>
    <div class='down'>
      <div class='title'>
        <a href='javascript: void(0);'>
          How To Test Rails Controllers?
        </a>
      </div>
      <div class='comment'></div>
      <div class='viewers'></div>
    </div>
  </div>
</div>